# Server Configuration Example
PORT=3008
NODE_ENV=development
APP_URL=http://localhost:3008

# TinyMCE Settings (Optional)
# If you want to use the Cloud CDN instead of self-hosted, you can specify your API key here.
# TINYMCE_API_KEY=your-api-key-here
